.container {
  border: 1px solid #ccc;
  padding: 0 20px 20px 20px;
  color: #2525eb;
  margin-bottom: 20px;
  margin-left: 20px;
}

.field {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  cursor: pointer;
}

.btn:disabled {
  cursor: default;
}

.btnBlock {
  margin-top: 15px;
}
